body{
	background-color: #7B3171;
	font-family: Micrsoft JhenHei;
}
#warpper{
	width: 1024px;
	margin: 0 auto;
}
#logo{
	/*height:250;*/
}
#logo img{
	width: 100%;
}
#nav{
	background-color: #E5E4E4;
	text-align: center;
}
#nav ul{
	display: inline-block;
}
#nav li{
	float: left;
	list-style-type: none;
}
#nav a{
	display: block;
	padding: 15px 20px;
	color: green;
	text-decoration: none;
}
#content_in{
	border: 1px solid black;
	text-align: center;
	padding: 30px 50px
}
#content_in h1{
	margin-bottom: 50px;
}
#content_in p{
	margin-bottom: 30px;
}
#content_in a{
	display: block;
	width: 130px;
	height: 40px;
	background-color: #10060F;
	margin: 0 auto;
	text-decoration: none;
	line-height: 40px;
	border-radius: 10px;
	color: white;
}
#footer p{
	padding: 10px;
	text-align: center;
}
@media screen and (max-width: 1024px) {
	#warpper{
		width: 80%;
	}
}